:root {
  --font-heading-color: #212121;
  --font-description-color: hsl(0, 0%, 46%);
  --font-heading-color: #212121;
  --accent-color: #ffffff;
  --hover-link-color: #2196f3;
  --background-basic: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-size-header-footer-features: 14px;
  --font-size-command: 16px;
  --hover-web-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.section-title {
  font-size: 36px;
  line-height: 1.17;

}

body {
  letter-spacing: 00.03em;
  font-family: var(--font-family);
  color: var(--font-heading-color);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--font-heading-color);
}

.logo span {
  color: var(--hover-link-color);
}

.navigation a {
  font-size: var(--font-size-command);
  font-weight: 500;
  line-height: 1.14;
  color: var(--font-heading-color);
  letter-spacing: 0.02em;
}

.navigation .active {
  color: var(--hover-link-color);
}

.email-phone {
  line-height: 1.17;
}

.email,
.phone {
  color: #757575;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--hover-link-color);
}
.email:hover,
.email:focus {
  color: var(--hover-link-color);
}
.phone:hover,
.phone:focus {
  color: var(--hover-link-color);
}
.hero {
  background-color: var(--background-footer-color);
}
.hero-title {
  color: var(--accent-color);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.order {
  color: var(--accent-color);
  background-color: var(--hover-link-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
}


.peculiarities h3 {
  font-size: var(--font-size-header-footer-features);
  line-height: 1.14;
  text-transform: uppercase;
}

.peculiarities p {
  font-size: var(--font-size-header-footer-features);
  color: #757575;
  line-height: 1.74;
}

.expertise {
  color: var(--font-heading-color);
  text-align: center;
}

.team {
  background-color: #f5f4fa;
  text-align: center;
  line-height: 1.17;
}


.team h3 {
  font-weight: 500;
  font-size: var(--font-size-command);
}

.team p {
  color: var(--font-description-color);
  font-size: var(--font-size-command);
}

.footer {
  background-color: var(--background-footer-color);
  color: var(--accent-color);
  --font-heading-color: var(--accent-color);
}

.footer .email, .footer .phone {
  color: rgba(255, 255, 255, 0.6);
}


address {       
  line-height: 1.71;
  font-style: normal;
}

/* страница портфолио */

.filter button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border: 0ch;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

button:focus,
button:hover {
  background-color: var(--hover-web-color);
  color: var(--accent-color);
}

button {
  cursor: pointer;
}

.projects h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
}

.projects p {
  font-size: var(--font-size-command);
  color: #757575;
  line-height: 1.875;
}
